@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

* {
  margin: 0;
  font-family: "Heebo", sans-serif;
  color: black;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.navbar h1 {
  color: pink;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid white;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px darkgray;
}

.blog-preview h2 {
  font-size: 20px;
  color: pink;
  margin-bottom: 8px;
}

.navbar a:hover {
  color: pink;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
